img {border:none;}
body, p, th, td, p, li { font: 11px verdana, arial, helvetica, sans-serif; }
th { text-align: left; border-bottom: 1px solid black; padding-bottom: 3px; }
th.noborder { border-bottom: none; }
table { border-collapse: true; border-spacing: 0; width: 100%; }
td.formlabelleft { height: 3em; text-align: right; padding-right: 1em; }
.minwidth { width: 1; }
.nowrap { white-space: nowrap; }
.dataTables_wrapper { min-height: 0; }
.foo {position:absolute; bottom:30px; right:30px;}
.wf-message-icon { float: left; margin-right: 1em; }
.wf-message-box { padding: 0 1em; }
.clear1em { min-height: 1em; clear: both; }
/*
 a {text-decoration:none; color:#0000ff;}
 a:visited {text-decoration:none; color:#0000ff;}
*/
