img {border:none;}
body { font: 11px verdana, arial, helvetica, sans-serif; background-color: #FFFFFF; margin-top: 0; margin-bottom: 0; }
.foo {position:absolute; bottom:30px; right:30px;}
a {text-decoration:none; color:#0000ff;}
a:visited {text-decoration:none; color:#0000ff;}

