Source: wikifarm
Build-Depends: wget
Maintainer: Tom Clegg <tom@curii.com>

Package: wikifarm
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: mediawiki, apache2, libapache2-mod-php7.4, awstats, imagemagick, mailutils, sqlite3, php7.4-sqlite3, libclass-dbi-sqlite-perl, libapache-htpasswd-perl, libapache2-mod-auth-openid (>= 0.5), rsync, php7.4-mysql
Recommends: mail-transport-agent
Suggests: mediawiki-math
Description: Private wiki farm with OpenID login and user- and group-level access controls
