/*

Copyright 2010 President and Fellows of Harvard College

Authors:
Tom Clegg <tom@curoverse.com>
Jer Ratcliffe

This file is part of wikifarm.

Wikifarm is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

Wikifarm is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with wikifarm.  If not, see <http://www.gnu.org/licenses/>.

*/

img {border:none;}
body, p, th, td, p, li { font: 11px verdana, arial, helvetica, sans-serif; }
th { text-align: left; border-bottom: 1px solid black; padding-bottom: 3px; }
th.noborder { border-bottom: none; }
table { border-collapse: true; border-spacing: 0; width: 100%; }
td.formlabelleft { height: 3em; text-align: right; padding-right: 1em; }
.minwidth { width: 1px; }
.nowrap { white-space: nowrap; }
.celltexttoppad { padding-top: 12px; padding-bottom: 12px; vertical-align: top; }
.dataTables_wrapper { min-height: 0; }
.foo {position:absolute; bottom:30px; right:30px;}
.wf-button { position: relative; margin: 0px 4px 0px 0px; padding: 0.4em 1em; }
.wf-button-icon-left { padding-left: 2.1em; }
.wf-button-icon-left .ui-icon { left: 0.2em; margin-left: 0; right: auto; position: absolute; margin-top: -8px; top: 50%; }
.wf-button-icon { float: left; }
.wf-message-box { padding: 0 1em; }
.wf-message-box .ui-icon { float: left; margin-right: 1em; }
.wf-message-icon { float: left; margin-right: 1em; } /* deprecated */
.clear1em { min-height: 1em; clear: both; }
