<?php ; // -*- mode: php; indent-tabs-mode: nil; -*-

// Save this as config.php and edit to suit your installation.

$wikifarmConfig["servername"] = "wikifarm.example.com";
$wikifarmConfig["servertitle"] = "A Wiki Farm";
$wikifarmConfig["byline"] = "\"i can haz wiki\"";
$wikifarmConfig["enable_claim_by_password"] = false;
$wikifarmConfig["uri_scheme"] = "http"; // or you might need "https"

// To enable Google OAuth2 login, you need a client ID and a client secret.
// See https://developers.google.com/+/web/signin/server-side-flow
// $wikifarmConfig["oauth2_google_client_id"] = "copy-client-id-from-dev-console";
// $wikifarmConfig["oauth2_google_client_secret"] = "copy-secret-from-dev-console";

// Enable/disable OpenID buttons for Google (EOL!) and Yahoo.
$wikifarmConfig["openid2_google"] = false;
$wikifarmConfig["openid2_yahoo"] = true;
$wikifarmConfig["openid2_custom"] = true;

if (time() < 1424700000) {
    // Until Feb 23 2015...
    $wikifarmConfig["login_motd_html"] = "Google login has changed from OpenID to OAuth2. <i>The first time you log in after this change,</i> Google will give you an extra prompt as if you had never logged in here before. Don&rsquo;t worry, we haven&rsquo;t forgotten you.</p><p>Google might also prompt you about login permission again whenever you log in to the same account <i>from a new computer.</i> This is also harmless.";
}

?>
